@mixin LargeDestop {
	@media screen and (min-width: 1440px) {
		@content;
	}
}

@mixin mediumDesktop {
	@media screen and (min-width: 1072px) and (max-width: 1441px) {
		@content;
	}
}

@mixin smallDesktop {
	@media screen and (min-width: 768px) and (max-width: 1073px) {
		@content;
	}
}

@mixin largeTablet {
	@media screen and (max-width: 769px) {
		@content;
	}
}

@mixin mediumTablet {
	@media screen and (max-width: 566px) {
		@content;
	}
}

@mixin smallTablet {
	@media screen and (max-width: 321px) {
		@content;
	}
}

@mixin textWrapper($line) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
}
