html {
  font-size: 12px;
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 14px;
  }
}

body {
  padding: 0;
  margin: 0;
  color: #333;
  background-color: #fff;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  vertical-align: middle;
}

.header__nav .register, .header__nav .write {
  line-height: 40px;
  margin-top: 14px;
  padding: 6px 30px;
  border-radius: 25px;
  height: 40px;
}

.header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  line-height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #f5efef;
  color: #969696;
  position: relative;
}

.header__logo {
  cursor: pointer;
  text-align: center;
  margin-left: 5%;
}

.header__logo img {
  width: 100%;
  height: 100%;
}

.header__menu {
  display: none;
  height: 30px;
  width: 30px;
  margin-right: 15px;
  margin-top: 12px;
}

.header__menu img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 769px) {
  .header__menu {
    display: block;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .header__nav {
    position: absolute;
    text-align: center;
    top: 81px;
    right: 30px;
    background-color: #f9f9f9;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90px;
    z-index: 1000;
    display: none;
    padding: 0 10px 20px 10px;
  }
}

.header__nav .item.selected {
  color: #ea6f5a;
}

.header__nav .register {
  color: #ea6f5a;
  border: 1px solid #ea6f5a;
}

.header__nav .write {
  background-color: #ea6f5a;
  height: 40px;
  color: white;
}

.NewsBody {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 1440px) {
  .NewsBody {
    width: 70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1073px) {
  .NewsBody {
    width: 90%;
  }
}

@media screen and (max-width: 769px) {
  .NewsBody {
    width: 93%;
  }
}

.NewsBody__left {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
  position: relative;
}

@media screen and (max-width: 769px) {
  .NewsBody__left {
    width: 100%;
    margin-right: 0;
  }
}

.NewsBody__left .tab {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #f5efef;
  font-weight: 600;
  color: #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.NewsBody__left .tab .tabItem {
  cursor: pointer;
  margin-right: 15px;
  height: 100%;
  display: block;
}

.NewsBody__left .tab .tabItem:hover {
  border-bottom: 2px solid #333;
}

.NewsBody__left .story {
  width: 100%;
}

.NewsBody__left .story > section {
  display: none;
}

.NewsBody__left .story .display {
  display: block;
}

.NewsBody__left .story .NewsContainer {
  border-bottom: 1px solid #f5efef;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 130px;
}

@media screen and (max-width: 321px) {
  .NewsBody__left .story .NewsContainer {
    min-height: 110px;
  }
}

.NewsBody__left .story .NewsContainer__info {
  position: relative;
  padding-right: 30px;
  width: 60%;
}

@media screen and (max-width: 566px) {
  .NewsBody__left .story .NewsContainer__info {
    width: 50%;
  }
}

.NewsBody__left .story .NewsContainer__info .userDetail {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  color: #b4b4b4;
  width: 100%;
}

.NewsBody__left .story .NewsContainer__info .userDetail .lieksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.NewsBody__left .story .NewsContainer__info .userDetail img {
  margin-top: 4px;
  height: 12px;
  width: 13px;
}

.NewsBody__left .story .NewsContainer__info .userDetail:not(:first-child) {
  gap: 10px;
}

.NewsBody__left .story .NewsContainer__info .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.NewsBody__left .story .NewsContainer__info p {
  margin-top: -3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #b4b4b4;
}

.NewsBody__left .story .NewsContainer__img {
  border-radius: 10px;
  overflow: hidden;
  width: 40%;
  text-align: center;
}

@media screen and (max-width: 566px) {
  .NewsBody__left .story .NewsContainer__img {
    width: 50%;
  }
}

.NewsBody__left .story .NewsContainer__img img {
  width: 60%;
  height: 100%;
}

@media screen and (max-width: 769px) {
  .NewsBody__left .story .NewsContainer__img img {
    width: 100%;
  }
}

.NewsBody__right {
  width: 30%;
}

@media screen and (max-width: 769px) {
  .NewsBody__right {
    display: none;
  }
}

.NewsBody__right .trending__title {
  height: 63px;
  background-image: url("../asset/banner.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  text-align: center;
  line-height: 63px;
  color: #fff;
  font-weight: 600;
}

.NewsBody__right .trending__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.NewsBody__right .trending__body .author {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.NewsBody__right .trending__body .author__aviator {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.NewsBody__right .trending__body .author__aviator img {
  width: 100%;
  height: 100%;
}

.NewsBody__right .trending__body .author__details {
  margin-left: 20px;
}

.NewsBody__right .trending__body .author__details .name {
  font-size: 1.2rem;
}

.NewsBody__right .trending__body .author__details .totalLikes {
  color: #b4b4b4;
}

.NewsBody__right .advertising {
  margin-top: 60px;
  width: 100%;
}

.NewsBody__right .advertising img {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */