$font-color: #ea6f5a;
$text-color: #b4b4b4;

body {
	padding: 0;
	margin: 0;
	color: #333;
	background-color: #fff;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	vertical-align: middle;
}

@mixin textWrapper($line) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
}

%headerBtn {
	line-height: 40px;
	margin-top: 14px;
	padding: 6px 30px;
	border-radius: 25px;
	height: 40px;
}

.header {
	background-color: #fff;
	display: flex;
	height: 80px;
	line-height: 80px;
	justify-content: space-around;
	border-bottom: 1px solid #f5efef;
	color: #969696;

	&__logo {
		cursor: pointer;
		text-align: center;
		flex-basis: 50%;
		img {
			width: 100%;
			height: 100%;
		}
	}

	&__nav {
		display: flex;
		justify-content: space-around;
		flex-basis: 50%;
		cursor: pointer;
		.item {
			&.selected {
				color: $font-color;
			}
		}

		.register {
			color: $font-color;
			border: 1px solid $font-color;
			@extend %headerBtn;
		}

		.write {
			background-color: $font-color;
			height: 40px;
			color: white;
			@extend %headerBtn;
		}
	}
}

.NewsBody {
	padding-top: 30px;
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;

	&__left {
		flex-basis: 70%;
		display: flex;
		flex-direction: column;
		margin-right: 50px;
		position: relative;

		.tab {
			width: 100%;
			height: 60px;
			line-height: 60px;
			border-bottom: 1px solid #f5efef;
			font-weight: 600;
			color: $text-color;
			display: flex;

			.tabItem {
				cursor: pointer;
				margin-right: 15px;
				height: 100%;
				display: block;
				&:hover {
					border-bottom: 2px solid #333;
				}
			}
		}

		.story {
			width: 100%;
			& > section {
				display: none;
			}

			.display {
				display: block;
			}

			.NewsContainer {
				border-bottom: 1px solid #f5efef;
				width: 100%;
				display: flex;
				justify-content: space-between;
				padding: 25px 0;

				&__info {
					position: relative;
					width: 100%;
					padding-right: 30px;

					.userDetail {
						position: absolute;
						display: flex;
						bottom: 0;
						color: $text-color;
						width: 100%;
						.lieksContainer {
							display: flex;
						}
						img {
							margin-top: 2px;
							height: 18px;
							width: 18px;
						}
						&:not(:first-child) {
							gap: 10px;
						}
					}

					p {
						margin-top: -15px;
						@include textWrapper(3);
						color: $text-color;
					}
				}

				&__img {
					border-radius: 10px;
					overflow: hidden;
					background-color: #333;
					width: 40%;
					text-align: center;

					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	&__right {
		flex-basis: 30%;
		.trending {
			&__title {
				height: 63px;
				background-image: url('../asset/banner.jpg');
				background-repeat: no-repeat, repeat;
				background-position: center;
				background-size: cover;
				margin-bottom: 20px;
				text-align: center;
				line-height: 63px;
				color: #fff;
				font-weight: 600;
			}
			&__body {
				display: flex;
				flex-direction: column;
				.author {
					width: 100%;
					display: flex;
					margin-bottom: 25px;
					&__aviator {
						height: 60px;
						width: 60px;
						border-radius: 50%;
						overflow: hidden;
						img {
							width: 100%;
							height: 100%;
						}
					}
					&__details {
						margin-left: 20px;
						.name {
							font-size: 1.2rem;
						}
						.totalLikes {
							color: $text-color;
						}
					}
				}
			}
		}
		.advertising {
			margin-top: 60px;
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
}
