@import './mixin';
$font-color: #ea6f5a;
$text-color: #b4b4b4;
html {
	font-size: 12px;
	@include LargeDestop {
		font-size: 14px;
	}
}
body {
	padding: 0;
	margin: 0;
	color: #333;
	background-color: #fff;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	vertical-align: middle;
}

@mixin textWrapper($line) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
}

%headerBtn {
	line-height: 40px;
	margin-top: 14px;
	padding: 6px 30px;
	border-radius: 25px;
	height: 40px;
}

.header {
	background-color: #fff;
	display: flex;
	height: 80px;
	line-height: 80px;
	justify-content: space-between;
	border-bottom: 1px solid #f5efef;
	color: #969696;
	position: relative;
	&__logo {
		cursor: pointer;
		text-align: center;
		margin-left: 5%;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__menu {
		display: none;
		height: 30px;
		width: 30px;
		margin-right: 15px;
		margin-top: 12px;
		img {
			width: 100%;
			height: 100%;
		}
		@include largeTablet {
			display: block;
		}
	}
	&__nav {
		display: flex;
		justify-content: space-around;
		width: 50%;
		cursor: pointer;

		@include largeTablet {
			position: absolute;
			text-align: center;
			top: 81px;
			right: 30px;
			background-color: #f9f9f9;
			flex-direction: column;
			width: 90px;
			z-index: 1000;
			display: none;
			padding: 0 10px 20px 10px;
		}
		.item {
			&.selected {
				color: $font-color;
			}
		}

		.register {
			color: $font-color;
			border: 1px solid $font-color;
			@extend %headerBtn;
		}

		.write {
			background-color: $font-color;
			height: 40px;
			color: white;
			@extend %headerBtn;
		}
	}
}

.NewsBody {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;

	@include LargeDestop {
		width: 70%;
	}
	@include smallDesktop {
		width: 90%;
	}
	@include largeTablet {
		width: 93%;
	}

	&__left {
		width: 70%;
		display: flex;
		flex-direction: column;
		margin-right: 50px;
		position: relative;
		@include largeTablet {
			width: 100%;
			margin-right: 0;
		}
		.tab {
			width: 100%;
			height: 60px;
			line-height: 60px;
			border-bottom: 1px solid #f5efef;
			font-weight: 600;
			color: $text-color;
			display: flex;

			.tabItem {
				cursor: pointer;
				margin-right: 15px;
				height: 100%;
				display: block;
				&:hover {
					border-bottom: 2px solid #333;
				}
			}
		}

		.story {
			width: 100%;
			& > section {
				display: none;
			}

			.display {
				display: block;
			}

			.NewsContainer {
				border-bottom: 1px solid #f5efef;
				width: 100%;
				display: flex;
				padding: 25px 0;
				justify-content: flex-start;
				min-height: 130px;
				@include smallTablet {
					min-height: 110px;
				}
				&__info {
					position: relative;
					padding-right: 30px;
					width: 60%;
					@include mediumTablet {
						width: 50%;
					}
					.userDetail {
						position: absolute;
						display: flex;
						bottom: 0;
						color: $text-color;
						width: 100%;
						.lieksContainer {
							display: flex;
						}
						img {
							margin-top: 4px;
							height: 12px;
							width: 13px;
						}
						&:not(:first-child) {
							gap: 10px;
						}
					}
					.title {
						font-size: 1.2rem;
						font-weight: bold;
						margin-bottom: 20px;
						@include textWrapper(1);
					}
					p {
						margin-top: -3px;
						@include textWrapper(3);
						color: $text-color;
					}
				}

				&__img {
					border-radius: 10px;
					overflow: hidden;
					width: 40%;
					text-align: center;
					@include mediumTablet {
						width: 50%;
					}
					img {
						width: 60%;
						height: 100%;
						@include largeTablet {
							width: 100%;
						}
					}
				}
			}
		}
	}

	&__right {
		width: 30%;
		@include largeTablet {
			display: none;
		}

		.trending {
			&__title {
				height: 63px;
				background-image: url('../asset/banner.jpg');
				background-repeat: no-repeat, repeat;
				background-position: center;
				background-size: cover;
				margin-bottom: 20px;
				text-align: center;
				line-height: 63px;
				color: #fff;
				font-weight: 600;
			}
			&__body {
				display: flex;
				flex-direction: column;
				.author {
					width: 100%;
					display: flex;
					margin-bottom: 25px;
					&__aviator {
						height: 40px;
						width: 40px;
						border-radius: 50%;
						overflow: hidden;
						img {
							width: 100%;
							height: 100%;
						}
					}
					&__details {
						margin-left: 20px;
						.name {
							font-size: 1.2rem;
						}
						.totalLikes {
							color: $text-color;
						}
					}
				}
			}
		}
		.advertising {
			margin-top: 60px;
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
}
