.header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  line-height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #f5efef;
  color: #969696;
  position: relative;
}

.header__logo {
  cursor: pointer;
  text-align: center;
  margin-left: 5%;
}

.header__logo img {
  width: 100%;
  height: 100%;
}

.header__menu {
  display: none;
  height: 30px;
  width: 30px;
  margin-right: 15px;
  margin-top: 12px;
}

.header__menu img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 769px) {
  .header__menu {
    display: block;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

@media screen and (max-width: 769px) {
  .header__nav {
    position: absolute;
    text-align: center;
    top: 81px;
    right: 0px;
    background-color: #f9f9f9;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90px;
    z-index: 1000;
    display: none;
    padding: 0 10px 20px 10px;
  }
}

.header__item {
  cursor: pointer;
  line-height: 20px;
  border-radius: 25px;
  padding: 3px 10px;
  margin: 10px 0;
}

.header__item--register {
  border: 1px solid #ea6f5a;
  border-radius: 25px;
  color: #ea6f5a;
}

.header__item--write {
  padding: 5px 15px;
  line-height: 20px;
  background-color: #ea6f5a;
  color: white;
}

.content {
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 1440px) {
  .content {
    width: 60%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1073px) {
  .content {
    width: 90%;
    padding-top: 20px;
  }
}

@media screen and (max-width: 769px) {
  .content {
    width: 93%;
    padding-top: 0;
  }
}

.content__postlist {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
  position: relative;
}

@media screen and (max-width: 769px) {
  .content__postlist {
    width: 100%;
    margin-right: 0;
  }
}

.content__tab {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #f5efef;
  font-weight: 600;
  color: #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__tab__item {
  cursor: pointer;
  margin-right: 15px;
  height: 100%;
  display: block;
}

.content__tab__item:hover {
  border-bottom: 2px solid #333;
}

.content__pannel {
  width: 100%;
}

.content__pannel__section {
  display: none;
}

.content__pannel__section--show {
  display: block;
}

.content__ranking {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 3px #e7e5e5;
          box-shadow: 0 2px 3px #e7e5e5;
  width: 20%;
}

@media screen and (max-width: 769px) {
  .content__ranking {
    display: none;
  }
}

.content__ranking .advertising {
  margin-top: 60px;
  width: 100%;
}

.content__ranking .advertising img {
  width: 100%;
}

.content__list {
  border-bottom: 1px solid #f5efef;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 130px;
  max-height: 160px;
  cursor: pointer;
}

@media screen and (max-width: 321px) {
  .content__list {
    min-height: 110px;
  }
}

.content__list__textdetail {
  width: 70%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 20px;
}

.content__list__textdetail h3 {
  color: black;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.content__list__textdetail p {
  margin-top: -3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #b4b4b4;
}

.content__list__userdetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 10px;
  color: #b4b4b4;
}

.content__list__img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
}

.content__list__img img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content__list__likeicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16px;
  width: 16px;
  margin-right: 20px;
}

.content__list__likeicon img {
  width: 100%;
  height: 100%;
}

.content__trending__title {
  height: 40px;
  background-image: url("../../asset/banner.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-weight: 600;
}

.content__trending__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.content__trending__author {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.content__trending__aviator {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.content__trending__aviator img {
  width: 100%;
  height: 100%;
}

.content__trending__userdetails {
  margin-left: 20px;
}

.content__trending__userdetails span {
  display: block;
}
/*# sourceMappingURL=index.css.map */